*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*
==============
  TYPOGRAPHY
==============
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #212529;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0 auto;
}

p {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

/*
==============
  Utility
==============
 */
.site-btn {
  border: 0;
  border-radius: 50px;
  font-size: 14px;
  background-color: orange;
  line-height: 35px;
  font-weight: 500;
  padding: 1px 29px;
}

.site-btn.icon {
  display: inline-block;
  text-align: left;
  padding: 1px 6px 1px 19px;
}

.site-btn.icon i {
  font-size: 11px;
  background-color: #fff;
  margin: 4px 0 0 15px;
  padding: 8px;
  border-radius: 50px;
}

.gray-bg {
  background: #fafafa;
}

/*
==============
  LAYOUT
==============
*/

/*
 * HOME *
*/

body {
  background-image: url("../assets/img/home/backgroud-mycv.png");
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

#left-content {
  width: 25%;
}

#right-content {
  width: 75%;
}

.shadow-box {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 92px #00000012;
}

/* Footer */
#footer {
  border-radius: 6px;
  margin: 3rem auto;
  padding: 1rem;
  color: #9c9c9c;
  background: #1e1e1e;
  font-size: 1.2rem;
  text-align: center;
}

#footer > span {
  font-size: 2rem;
  color: #fff;
}

#footer p > span {
  color: #fff;
}

/* LEFT CONTENT */

.card-box {
  border-radius: 6px;
  display: inline-block;
}

.card-name {
  padding: 20px;
  line-height: 18px;
}

.card-name .name {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.card-name .title {
  color: #777;
  font-size: 13px;
}

li.line-points {
  color: #7f7f7f;
  font-size: 13.5px;
  line-height: 12px;
}

.infor li span {
  color: #000;
}

.infor-image {
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  padding: 0;
  margin: 0;
  display: block;
  margin-top: -18px;
}

ul.infor {
  padding: 0;
  margin: 0 auto;
  position: relative;
  list-style: none;
  margin: 15px 0 8px 35px;
}

.line-points {
  border-left: 2px solid #eee;
  padding-bottom: 23px;
  padding-left: 20px;
  font-size: 14px;
}

.line-points:first-of-type::before {
  display: none;
}

.line-points:first-of-type {
  max-width: 100%;
  position: relative;
  padding-bottom: 30px;
}

.line-points:first-of-type i {
  color: #000;
  position: absolute;
  top: -25px;
  left: -20px;
  font-size: 15px;
}

.line-points:first-of-type i::before {
  background-color: orange;
  padding: 12px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.line-points::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 2px solid orange;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  font-size: 8px;
  font-weight: 400;
}

.line-points:last-of-type {
  border: 0;
}

.card-btn {
  text-align: center;
  width: 100%;
  margin: 18px auto 30px;
}

.card-btn > * {
  text-decoration: none;
  color: #000;
}

/* 
===============
  RIGHT CONTENT 
===============  
 */
#right-content nav {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  line-height: 70px;
  display: inline-block;
  box-shadow: 0 2px 92px #00000012;
}

.section-title {
  padding: 0 0.3rem;
  position: relative;
  display: inline-block;
}

.section-title span {
  opacity: 0.4;
  left: 0;
  bottom: 2.5px;
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: orange;
  height: 7px;
}

/* NAV */

#right-content nav {
  display: flex;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left *,
.nav-right * {
  list-style: none;
}

.nav-left a {
  text-transform: uppercase;
  color: #000;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 73px;
  display: block;
  text-decoration: none;
}

.nav-left {
  justify-content: space-around;
  align-items: center;
}

.nav-left li:first-of-type {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: orange;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-right: 1rem;
}

.nav-left i {
  font-size: 1.7rem;
}

.nav-left li:first-of-type a {
  padding: 0;
}

.nav-right {
  max-width: 100%;
  justify-content: space-around;
  gap: 2rem;
}

.nav-right li::before {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem;
}

.nav-right a {
  color: #000;
  text-decoration: none;
}

.nav-right .site-btn.icon {
  color: #000;
  margin: 18px 18px 0 5px;
}

.nav-right .site-btn.icon i {
  padding: 13px 7px;
}

/* ABOUT ME */
.about-me {
  padding: 4.5rem 3.1rem;
}

.about-me p {
  margin-top: 3rem;
  margin-bottom: 0;
}

/* SERVICE ROW */
.service {
  background: #fafafa;
  padding: 5rem 3rem;
}

.service .section-title {
  margin-bottom: 4.5rem;
}

.service-row {
  display: flex;
  gap: 2.6%;
}

.col-1-4 {
  width: 25%;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  min-height: 186px;
  box-shadow: 0 0 48px #04060414;
}

.service-icon i {
  margin-bottom: 1.5rem;
}

.service-icon i:before {
  font-size: 4.4rem;
}

.col-1-4 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.col-1-4 p {
  margin: 0;
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}

/* SKILLS */
.skills-progression {
  display: flex;
}

.design-skills,
.code-skills {
  width: 50%;
  padding: 5rem 3rem;
}

.design-skills li,
.code-skills li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.design-skills .section-title,
.code-skills .section-title {
  margin-bottom: 4.5rem;
}

.skills-percentage {
  background: #dfdfdf;
  border-radius: 50px;
  width: 100%;
  height: 5px;
  margin: 10px 0 20px;
  display: block;
  position: relative;
  overflow: visible;
}

.exp-level {
  height: 5px;
  background: orange;
}

/*
===============
  RESUME 
===============
*/

/* Working & Education History */
.resume {
  padding: 0 3rem;
}

.resume .section-title {
  margin-top: 3rem;
}

.resume .row {
  margin-top: 3rem;
}

.work-history,
.education-history {
  width: 50%;
}

.resume ul > * {
  list-style-type: none;
  padding: 0 0 4rem 3rem;
}

.resume ul {
  position: relative;
}

.resume h4,
.resume h3,
.resume span {
  margin: 0;
  color: #000;
}

.resume h3 {
  margin: 0;
  margin-left: 2.5rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.resume h4 {
  font-size: 16px;
  line-height: 6px;
  font-weight: 500;
}

.resume ul > li span {
  padding: 9px 0;
  font-size: 12px;
  display: block;
}

.resume .line-points:first-of-type {
  padding-bottom: 6rem;
}

.resume .line-points:first-of-type i {
  margin-top: 3.5rem;
}

.resume .line-points:first-of-type i::before {
  padding: 1.7rem;
}

/* Clients */

.clients {
  overflow: hidden;
  padding: 4.5rem 3rem;
}

.clients .section-title {
  margin-bottom: 3rem;
}

.clients .row {
  margin: calc(-1 * 1rem);
}

.clients .col-1-4 {
  min-height: 1rem;
  padding: 0;
  background: none;
  display: flex;
  width: calc(1 / 4 * 100% - 2 * 1rem);
  margin: 1rem;
}

.img-col {
  border-radius: 6px;
  background: #fff;
  padding: 2.6rem 1.6rem;
}

/* Testimonials */

.testimonials {
  overflow: hidden;
}

.testimonials .section-title {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.testimonials .shadow-box > .row {
  max-width: 2900px;
  flex-wrap: nowrap;
  align-items: center;
  animation: carousel 8s infinite;
}

.testimonials .shadow-box {
  padding-bottom: 4.5rem;
}

.clients-card {
  width: 322px;
  padding-left: 0;
  padding-right: 0;
  flex-shrink: 0;
}

.clients-card > .shadow-box {
  min-height: 16rem;
  padding: 1.5rem;
}

.clients-info {
  display: flex;
}

.clients-img {
  width: 23%;
}

.clients-job {
  width: 68%;
  line-height: 1.5rem;
  padding: .8rem 1.2rem;
}

.clients-img img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

@keyframes carousel {
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(-60%);
  }
  75% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

.testimonials-button {
  margin-top: 30px;
}

.testimonials-button > .row {
  justify-content: center;
}

.clients-info {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0;
}

.clients-testimonial p {
  margin-top: 1rem;
  color: #989898;
  font-size: 12.5px;
  line-height: 20px;
}

.clients-job span {
  color: #d0d0d0;
  font-size: 1.2rem;
}

.clients-job span:first-child {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}

.test-buttons {
  display: flex;
  width: 20%;
  height: 1rem;
  justify-content: center;
  gap: 1rem;
}

.test-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffc500;
}

.test-btn:hover {
  background: orange;
  cursor: pointer;
}

/*
 * CONTACT *
*/
.contact-sections {
  display: flex;
}

.contact-form,
.contact-infor {
  width: 50%;
}

.contact-map > iframe {
  width: 100%;
}
