*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*
==============
  TYPOGRAPHY
==============
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #212529;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0 auto;
}

p {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

/*
==============
  Utility
==============
 */
.site-btn {
  border: 0;
  border-radius: 50px;
  font-size: 14px;
  background-color: orange;
  line-height: 35px;
  font-weight: 500;
  padding: 1px 29px;
}

.site-btn.icon {
  display: inline-block;
  text-align: left;
  padding: 1px 6px 1px 19px;
}

.site-btn.icon i {
  font-size: 11px;
  background-color: #fff;
  margin: 4px 0 0 15px;
  padding: 8px;
  border-radius: 50px;
}

.site-btn:hover {
  background: #ffb100;
}

.gray-bg {
  background: #fafafa;
}

/*
==============
  LAYOUT
==============
*/

/*
 * HOME *
*/

body {
  background-image: url("../assets/img/home/backgroud-mycv.png");
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

#left-content {
  width: 25%;
}

#right-content {
  width: 75%;
}

.shadow-box {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 92px #00000012;
}

@media (max-width: 700px) {
  .container > .row {
    flex-direction: column;
  }

  #left-content,
  #right-content {
    width: 100%;
  }
}

/* Footer */
#footer {
  border-radius: 6px;
  margin: 3rem auto;
  padding: 1rem;
  color: #9c9c9c;
  background: #1e1e1e;
  font-size: 1.2rem;
  text-align: center;
}

#footer > span {
  font-size: 2rem;
  color: #fff;
}

#footer p > span {
  color: #fff;
}

/* LEFT CONTENT */

.card-box {
  border-radius: 6px;
  display: inline-block;
}

.card-name {
  padding: 20px;
  line-height: 18px;
}

.card-name .name {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.card-name .title {
  color: #777;
  font-size: 13px;
}

li.line-points {
  color: #7f7f7f;
  font-size: 13.5px;
  line-height: 12px;
}

.infor li span {
  color: #000;
}

.infor-image {
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  padding: 0;
  margin: 0;
  display: block;
  margin-top: -18px;
}

ul.infor {
  padding: 0;
  margin: 0 auto;
  position: relative;
  list-style: none;
  margin: 15px 0 8px 35px;
}

.line-points {
  border-left: 2px solid #eee;
  padding-bottom: 23px;
  padding-left: 20px;
  font-size: 14px;
}

.line-points:first-of-type::before {
  display: none;
}

.line-points:first-of-type {
  max-width: 100%;
  position: relative;
  padding-bottom: 30px;
}

.line-points:first-of-type i {
  color: #000;
  position: absolute;
  top: -25px;
  left: -20px;
  font-size: 15px;
}

.line-points:first-of-type i::before {
  background-color: orange;
  padding: 12px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.line-points::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 2px solid orange;
  border-radius: 50%;
  position: absolute;
  left: -3px;
  font-size: 8px;
  font-weight: 400;
}

.line-points:last-of-type {
  border: 0;
}

.card-btn {
  text-align: center;
  width: 100%;
  margin: 18px auto 30px;
}

.card-btn > * {
  text-decoration: none;
  color: #000;
}

/* 
===============
  RIGHT CONTENT 
===============  
 */
#right-content nav {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  line-height: 70px;
  display: inline-block;
  box-shadow: 0 2px 92px #00000012;
}

.section-title {
  padding: 0 0.3rem;
  position: relative;
  display: inline-block;
}

.section-title span {
  opacity: 0.4;
  left: 0;
  bottom: 2.5px;
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: orange;
  height: 7px;
}

@media (max-width: 900px) {
  .btn__hire-me {
    display: none;
  }
}

/* NAV */

#right-content nav {
  display: flex;
  justify-content: space-between;
}

#tab-active {
  color: orange;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left *,
.nav-right * {
  list-style: none;
  cursor: pointer;
}

.nav-left li > *:hover {
  color: orange;
}

.nav-left li:first-child:hover > * {
  color: #000;
  background: #ffb100;
}

.nav-left li:first-child:hover {
  color: #000;
  background: #ffb100;
}

.nav-right *:hover {
  color: blue;
  transition: all 0.3s;
  transform: scale(1.25);
}

.nav-right .fa-instagram:hover {
  color: pink;
}

.nav-right .fa-basketball:hover {
  color: red;
}

.nav-right > li:last-child:hover {
  transform: scale(1.1);
}

.nav-right > li:last-child:hover > * {
  transform: none;
}

.nav-left a {
  text-transform: uppercase;
  color: #000;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 73px;
  display: block;
  text-decoration: none;
}

.nav-left {
  justify-content: space-around;
  align-items: center;
}

.nav-left li:first-of-type {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: orange;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-right: 1rem;
}

.nav-left i {
  font-size: 1.7rem;
}

.nav-left li:first-of-type a {
  padding: 0;
}

.nav-right {
  max-width: 100%;
  justify-content: space-around;
  gap: 2rem;
}

.nav-right li::before {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem;
}

.nav-right a {
  color: #000;
  text-decoration: none;
}

.nav-right .site-btn.icon {
  color: #000;
  margin: 18px 18px 0 5px;
}

.nav-right .site-btn.icon i {
  padding: 13px 7px;
}

@media (max-width: 700px) {
  #right-content nav {
    max-width: 100%;
    margin-top: 2rem;
  }

  .nav-left li:first-of-type {
    text-align: center;
    padding-right: 1.4rem;
  }

  .nav-left {
    max-width: 100%;
    margin-left: calc(-1 * 1rem);
    margin-right: calc(-1 * 1rem);
  }
  .nav-right {
    display: none;
  }

  .service-row {
    flex-direction: column;
    column-gap: 1rem;
  }

  .service-row > .col-1-4 {
    width: 100%;
    margin-top: 1rem;
  }

  .skills-progression {
    flex-direction: column;
  }

  .skills-progression > .design-skills,
  .skills-progression > .code-skills {
    width: 100%;
  }
}

/* ABOUT ME */
.about-me {
  padding: 4.5rem 3.1rem;
}

.about-me p {
  margin-top: 3rem;
  margin-bottom: 0;
}

/* SERVICE ROW */
.service {
  background: #fafafa;
  padding: 5rem 3rem;
}

.service .section-title {
  margin-bottom: 4.5rem;
}

.service-row {
  display: flex;
  gap: 2.6%;
}

.col-1-4 {
  width: 25%;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  min-height: 186px;
  box-shadow: 0 0 48px #04060414;
}

.service-icon i {
  margin-bottom: 1.5rem;
}

.service-icon i:before {
  font-size: 4.4rem;
}

.col-1-4 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.col-1-4 p {
  margin: 0;
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}

/* SKILLS */
.skills-progression {
  display: flex;
}

.design-skills,
.code-skills {
  width: 50%;
  padding: 5rem 3rem;
}

.design-skills li,
.code-skills li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.design-skills .section-title,
.code-skills .section-title {
  margin-bottom: 4.5rem;
}

.skills-percentage {
  background: #dfdfdf;
  border-radius: 50px;
  width: 100%;
  height: 5px;
  margin: 10px 0 20px;
  display: block;
  position: relative;
  overflow: visible;
}

.exp-level {
  height: 5px;
  background: orange;
}

/*
===============
  RESUME 
===============
*/

/* Working & Education History */
.resume {
  padding: 0 3rem;
}

.resume .section-title {
  margin-top: 3rem;
}

.resume .row {
  margin-top: 3rem;
}

.work-history,
.education-history {
  width: 50%;
}

.resume ul > * {
  list-style-type: none;
  padding: 0 0 4rem 3rem;
}

.resume ul {
  position: relative;
}

.resume h4,
.resume h3,
.resume span {
  margin: 0;
  color: #000;
}

.resume h3 {
  margin: 0;
  margin-left: 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.resume h4 {
  font-size: 1.6rem;
  line-height: 0.6rem;
  font-weight: 500;
}

.resume ul > li span {
  padding: 9px 0;
  font-size: 12px;
  display: block;
}

.resume .line-points:first-of-type {
  padding-bottom: 6rem;
}

.resume .line-points:first-of-type i {
  margin-top: 3.5rem;
}

.resume .line-points:first-of-type i::before {
  padding: 1.7rem;
}

@media (max-width: 800px) {
  .resume h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}

/* Clients */

.clients {
  overflow: hidden;
  padding: 4.5rem 3rem;
}

.clients .section-title {
  margin-bottom: 3rem;
}

.clients .row {
  margin: calc(-1 * 1rem);
}

.clients .col-1-4 {
  min-height: 1rem;
  padding: 0;
  background: none;
  display: flex;
  width: calc(1 / 4 * 100% - 2 * 1rem);
  margin: 1rem;
}

.img-col {
  border-radius: 6px;
  background: #fff;
  padding: 2.6rem 1.6rem;
}

@media (max-width: 700px) {
  .clients .row {
    flex-direction: column;
  }
  .clients .row > * {
    width: calc(100% - 2 * 1rem);
  }
}

/* Testimonials */

.testimonials {
  overflow: hidden;
}

.testimonials .section-title {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.testimonials .shadow-box > .row {
  max-width: 2900px;
  flex-wrap: nowrap;
  align-items: center;
  animation: carousel 8s infinite;
}

.testimonials .shadow-box {
  padding-bottom: 4.5rem;
}

.clients-card {
  width: 322px;
  padding-left: 0;
  padding-right: 0;
  flex-shrink: 0;
}

.clients-card > .shadow-box {
  min-height: 16rem;
  padding: 1.5rem;
}

.clients-info {
  display: flex;
}

.clients-img {
  width: 23%;
}

.clients-job {
  width: 68%;
  line-height: 1.5rem;
  padding: 0.8rem 1.2rem;
}

.clients-img img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

@keyframes carousel {
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(-60%);
  }
  75% {
    transform: translateX(-90%);
  }
  100% {
    transform: translateX(0%);
  }
}

.testimonials-button {
  margin-top: 30px;
}

.testimonials-button > .row {
  justify-content: center;
}

.clients-info {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0;
}

.clients-testimonial p {
  margin-top: 1rem;
  color: #989898;
  font-size: 12.5px;
  line-height: 20px;
}

.clients-job span {
  color: #d0d0d0;
  font-size: 1.2rem;
}

.clients-job span:first-child {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}

.test-buttons {
  display: flex;
  width: 20%;
  height: 1rem;
  justify-content: center;
  gap: 1rem;
}

.test-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffc500;
}

.test-btn:hover {
  background: orange;
  cursor: pointer;
}

/*
===============
 PORTFOLIO
===============
*/
.portfolio.shadow-box {
  padding: 1.5rem;
}

.portfolio .section-title {
  margin: 3rem 0;
}

.filter-bar {
  display: flex;
  justify-content: flex-start;
}

.filter-bar > * {
  margin-right: 1.5rem;
  list-style: none;
  color: #787878;
  cursor: pointer;
  font-size: 14px;
}

.filter-bar > *:active {
  color: orange;
}

.projects {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.demo {
  padding: 1.5rem;
}

figure {
  position: relative;
  margin: 0;
}

figure:hover .icon-hover i {
  color: #fff;
  transition: all 0.3s;
  opacity: 0.9;
  transform: translateY(-2.5rem);
  background: orange;
}

figure .icon-hover i {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 1.8rem;
  transform: translateY(5rem);
  opacity: 0;
  background: orange;
  padding: 2rem;
  border-radius: 50%;
}

.demo a {
  text-decoration: none;
}

.demo figcaption > * {
  color: #989898;
  font-size: 13px;
  line-height: 18px;
  display: block;
  line-height: 1.8rem;
}

.demo figcaption {
  padding: 1.4rem;
}

figcaption .project-title {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.portfolio .card-btn a {
  padding-right: 1.9rem;
}

@media (max-width: 700px) {
  
  .projects {
    margin-top: 3rem;
  }
  
  .filter-bar > * {
    font-size: 1rem;
  }
  figure:hover .icon-hover i {
    color: #fff;
    transition: all 0.3s;
    opacity: 0.9;
    transform: translateY(-3.5rem);
    background: orange;
  }

  figure .icon-hover i {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 1rem;
    transform: translateY(3rem);
    opacity: 0;
    background: orange;
    padding: 1rem;
    border-radius: 50%;
  }
}

/* 
================ 
  BLOG 
================
*/
#blog .shadow-box {
  padding: 1.5rem;
}

#blog .section-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post {
  padding: 1.5rem;
}

.posts a {
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 48px #04060414;
}

.posts a:hover {
  transition: all 0.3s;
  box-shadow: 0 0 8px #04060414;
}

.post figcaption {
  padding: 1.5rem;
}

.post figcaption * {
  display: block;
}

.post .category {
  color: #afafaf;
  font-size: 13px;
}

.post .blog-title {
  color: #000;
  padding: 2px 0 4px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.post .blog-summary {
  padding: 5px 0;
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}

.blog-date {
  font-size: 11px;
  color: #505050;
}

#blog .card-btn {
  margin-top: 6rem;
}

#blog .card-btn > a.site-btn.icon {
  padding-right: 1.9rem;
}

@media (max-width: 700px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
  }
}

/*
============
  CONTACT 
============
*/

.contact.shadow-box {
  padding: 1.5rem;
}

.contact-sections {
  display: flex;
}

.contact-form,
.contact-infor {
  width: 50%;
}

.contact-form {
  padding: 3rem 1.5rem 4.5rem 1.5rem;
}

.contact-infor {
  padding: 3rem 3rem 4.5rem 3rem;
}

.contact .section-title {
  margin-bottom: 3rem;
}

.contact-form .row {
  margin-left: calc(-1 * 1.5rem);
  margin-right: calc(-1 * 1.5rem);
}

.contact-form .row > .col {
  width: 100%;
  padding: 0 1.5rem;
}

.contact-form .row > .col-1-2 {
  width: 50%;
  padding: 0 1.5rem;
}

.contact-form input,
.contact-form textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  margin-bottom: 15px;
  font-size: 13px;
}

.contact-form form input {
  color: #000;
  height: 45px;
  padding-left: 10px;
}

.contact-form form textarea {
  min-height: 100px;
  font-size: 13px;
  padding: 20px 0 0 10px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  border-bottom: 1px solid #000;
}

.contact .card-btn {
  text-align: left;
}

.contact-form .card-btn .site-btn.icon {
  cursor: pointer;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
}

.contact-infor ul li {
  color: #787878;
  font-size: 14px;
  line-height: 34px;
  list-style: none;
}

.contact-infor ul li span {
  color: #000;
}

.social-icons {
  margin-top: 3.4rem;
}

.social-icons a {
  color: #000;
  width: 24px;
  height: 18px;
  font-size: 12px;
  transition: all 0.2s;
  display: inline-block;
}

.social-icons a:hover {
  color: blue;
  transform: scale(1.2);
}

.social-icons .fa-instagram:hover {
  color: pink;
}

.social-icons .fa-basketball:hover {
  color: red;
}

.contact-map {
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}

.contact-map > iframe {
  width: 100%;
  height: 35rem;
}

@media (max-width: 700px) {
  .contact-sections {
    flex-direction: column;
  }

  .contact-form,
  .contact-infor {
    width: 100%;
  }
}
